{% extends 'base.html' %}

{% block content %}

    <div id="content" class="w3-container" style="width: 65%; margin: 0 auto;">
        <div class="w3-center">
            <h1 style="font-weight: bold;">Search similarity source code</h1>
        </div>
        <div class="w3-container" style="width: 85%; margin: 0 auto;">
            <form id="searchForm" action="{{ url_for('similarity') }}" method="POST">
                <div>
                    <div class="w3-border-bottom">
                        <h3><i>Required</i></h3>
                    </div>
                    <div class="w3-section w3-container">
                        <label title="The URL of a GitHub repository, directory, or file in it">
                            Check path:
                            <input class="w3-input w3-hover-light-grey w3-border w3-round" type="url" name="check" required
                                   placeholder="https://github.com/torvalds/linux/blob/master/kernel/dma.c"/>
                        </label>
                    </div>
                    <div class="w3-section w3-container">
                        <label title="Search programming language">
                            Language:
                            <select class="w3-select w3-hover-light-grey w3-border w3-round" style="cursor: pointer;" name="language" required>
                                <option value="" disabled>Choose language for search</option>

                                {% for key, value in languages.items() %}

                                    <option value="{{ value }}" selected>{{ key }}</option>

                                {% endfor %}

                            </select>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="w3-border-bottom">
                        <h3><i>Optional</i></h3>
                    </div>
                    <div class="w3-section w3-container">
                        <label title="The URL of a GitHub repository, directory, or file in it">
                            Search path:
                            <input class="w3-input w3-hover-light-grey w3-border w3-round" type="url" name="data"
                                   placeholder="https://github.com/microsoft/TypeScript/tree/master/src/server"/>
                        </label>
                    </div>
                    <div class="w3-section w3-container">
                        <label title="The percentage of matches, exceeding which the files will be considered similar">
                            Limit:
                            <input class="w3-input w3-hover-light-grey w3-border w3-round" type="number"
                                   min="0" max="100" step="1" value="60" name="limit" placeholder="80" required/>
                        </label>
                    </div>
                    <div class="w3-section w3-container">
                        <div>
                            <label title="Which branch will be searched on">Branches to search:</label>
                        </div>
                        <label>
                            <input class="w3-radio" style="cursor: pointer;" type="radio" name="branches" value="0" checked required/>
                            &nbsp;Main branch
                        </label>
                        <label style="margin-left: 30px;">
                            <input class="w3-radio" style="cursor: pointer;" type="radio" name="branches" value="1"/>
                            &nbsp;All branches
                        </label>
                    </div>
                </div>
                <div class="w3-section w3-container w3-right-align">
                    <button class="w3-btn w3-round w3-light-grey w3-border w3-border-black" type="submit"
                            style="width: 150px;">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="spinnerContainer" style="display: none;">
        {% include 'spinner.html' %}
    </div>

    <script src="{{ url_for('static', filename='scripts/spinner.js') }}"></script>

{% endblock %}
