{% extends 'base.html' %}

{% block content %}

    <div class="w3-container" style="width: 90%; max-width: 1320px; margin: 0 auto;">
        <div class="w3-center">
            <h1 style="font-weight: bold;">Similarity code</h1>
            <div>
                <button id="leftButton" class="w3-btn w3-round w3-light-grey w3-border w3-border-black w3-large"
                        style="width: 100px; margin-right: 50px;" disabled>
                    <b>&lt;</b>
                </button>
                <button id="rightButton" class="w3-btn w3-round w3-light-grey w3-border w3-border-black w3-large"
                        style="width: 100px;">
                    <b>&gt;</b>
                </button>
            </div>
        </div>

        <div id="similarity">
            {% for similarity in similarity_list %}

                <div style="display: none;">
                    <div class="w3-section w3-center">
                        <b><i><span class="w3-text-red">{{ similarity.similarity_percentage }}%</span>&nbsp;similarity</i></b>
                    </div>
                    <div class="w3-section w3-cell-row">
                        <div class="w3-cell w3-center" style="width: 50%; padding: 0 15px;">
                            <div style="padding: 0 15px; max-width: 615px; overflow-x: auto;">
                                <b>{{ similarity.check_file_source + "  " + similarity.check_file_path }}</b>
                            </div>
                        </div>
                        <div class="w3-cell w3-center" style="width: 50%; padding: 0 15px;">
                            <div style="padding: 0 15px; max-width: 615px; overflow-x: auto;">
                                <i>{{ similarity.detected_file_source + "  " + similarity.detected_file_path }}</i>
                            </div>
                        </div>
                    </div>
                    <div>

                        {% for fragment in similarity.get_list_zip_similarity_fragments() %}

                        <div class="w3-section w3-cell-row">
                            <div class="w3-cell" style="width: 50%; padding: 0 15px;">
                                <div style="min-width: 635px;">
                                    <pre class="w3-code" style="max-width: 635px; overflow-x: auto; font-size: 14px;">{{ fragment[0] }}</pre>
                                </div>
                            </div>
                            <div class="w3-cell" style="width: 50%; padding: 0 15px;">
                                <div style="min-width: 635px;">
                                    <pre class="w3-code" style="max-width: 635px; overflow-x: auto; font-size: 14px;">{{ fragment[1] }}</pre>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>

        <div id="len" style="display: none;">{{ len }}</div>
    </div>

    <script src="{{ url_for('static', filename='scripts/similarityMenu.js') }}"></script>

{% endblock %}
