<div style="position:fixed; display:flex; align-items:center; justify-content:center; top:0px; left:0px;
    width:100vw; height:100vh;">
    <div>
        <img src="/static/images/loading-process.png" alt="Waiting" class="w3-spin" width="200" height="200">
            <div class="w3-center">
                <h3 style="font-weight: bold;">Search...</h3>
                <div>
                    <h4 style="font-weight: bold;"><span id="time">0</span> seconds passed</h4>
                </div>
            </div>
    </div>
</div>
